extends layout

block content
  .avatar
    img(src='images/cory_b&w.jpg' title='A Person, name of Driscoll')
  .about
    h1 Cory Driscoll
    p 23-ish web dude, drinks teas and presses keys
    p(style='text-align: center') Sometimes ventures off the island
    span email &centerdot; 
    a(href='mailto:cory@drisc.io') cory@drisc.io
    br
    span twitter &centerdot; 
    a(href='https://twitter.com/driscio') @driscio


