extends layout

block content
  .avatar
    img(src='https://pbs.twimg.com/profile_images/825502387108450304/lO5QYGLN.jpg' alt='A Person, name of Driscoll')
    img(src='images/cory_b&w.jpg' title='A Person, name of Driscoll')
  .about
    h1= 'Cory Driscoll'
    h2= 'Other information currently offline'
    h1 Cory Driscoll
    h2 Other information currently offline
