extends templates/layout

block content
  .avatar
    img(src='/images/cory_b&w.jpg' title='A Person, name of Driscoll')
  .about
    h1 Cory Driscoll
    p(style='text-align: center') 23-ish web dude, drinks teas and presses keys
    p(style='text-align: center') Sometimes ventures off the island
    div(class='social')
      span emails&nbsp;&nbsp;&bullet;&nbsp;&nbsp;
      a(href='mailto:cory@drisc.io' class='outbound') cory@drisc.io
      br
      span toots&nbsp;&nbsp;&bullet;&nbsp;&nbsp;
      a(href='https://sunbeam.city/@drisc' class='outbound') @drisc@sunbeam.city
      br
      span tweets&nbsp;&nbsp;&bullet;&nbsp;&nbsp;
      a(href='https://twitter.com/driscio' class='outbound') @driscio
      br
      span scuttlebutt&nbsp;&nbsp;&bullet;&nbsp;&nbsp;@IU9LdGLG+9Ma69ZYb9exrlC1uascqX1kX0yp0Vc+G6k=.ed25519
