extends layout

block content
  .post-editor
    form(method='POST' action='/blog')
      div.post-title-field
        input#title(type='text', placeholder='路 title 路', name='title')
      div.post-content-field
        textarea#content(type='text', placeholder='路 content 路', name='content')
      button(type='submit') Post