include tidbits/nav
include tidbits/footer

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container')
      +nav
      div(class='content')
        block content
      +footer
