extends layout

block content
  .login-content
    h1 Login

    form(action='/login', method='POST')
      .login-field
        input(type='text', name='user', value='', placeholder='username')
      .login-field
        input(type='password', name'password', value='', placeholder='password')
      .login-actions
        button(type='submit') Login
