extends layout

block content
  h1 Login

  form(action='/login', method='POST')
    p
      input(type='text', name='user', value='', placeholder='username')
      input(type='password', name'password', value='', placeholder='password')
      input(type='submit', value='Submit')
