extends templates/layout

block content
  .content
    .wiki-index-grid
      .wiki-index-projects
        h2 Projects
        <hr>
        ul
          li(class='wiki-latest-project') Recent | <a href='/wiki/alchemist'>Procul</a>
          li <a href='/wiki/alchemist'>Alchemist</a>
          li <a href='/wiki/humes'>Humes</a>
          li <a href='/wiki/retejo'>Retejo</a>
          li <a href='/wiki/sargas'>Sargas</a>
          li <a href='/wiki/procul'>Procul</a>
          li <a href='/wiki/velo'>Velo</a>
