extends templates/layout

block content
  .content
    ul.catagories
      li.wiki-item
        a(href='/wiki/straal')
          img(src='/images/icons/wiki/straal.svg')
          span.wiki-label Straal
          span.wiki-desc The Constellation
      li.wiki-item
        a(href='/wiki/humes')
          img(src='/images/icons/wiki/humes.svg')
          span.wiki-label Humes
          span.wiki-desc Environmental Data
      li.wiki-item
        a(href='/wiki/retejo')
          img(src='/images/icons/wiki/retejo.svg')
          span.wiki-label Retejo
          span.wiki-desc Personal Expression Platform
