extends templates/layout

block content
  .content
    .wiki-index-grid
      .wiki-index-projects
        h2 Projects
        <hr>
        ul
          li(class='wiki-latest-project') Recent | <a href='/wiki/retejo'>Retejo</a>
          li <a href='/wiki/humes'>Humes</a>
          li <a href='/wiki/retejo'>Retejo</a>
          li <a href='/wiki/sargas'>Sargas</a>
          li <a href='/wiki/paviderm'>Paviderm</a>
      .wiki-index-self
        h2 Self
        <hr>
        ul
          li <a href='/wiki/libsis'>Reading List</a>
          li <a href='/wiki/bookmarks'>Bookmarks</a>
          li <a href='/wiki/straal'>Straal</a>
