/*
  Global
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro')
*
  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
html
  color #eee
  background-color #212121
  min-width 250px
body
  
  line-height 1em
  font-family 'Source Sans Pro', 'Open Sans', sans-serif
::selection
  background #FF9933

::-moz-selection
  background #FF9933

::-webkit-input-placeholder
  text-align center
h1, h2, h3, h4, h5, h6
  line-height 1em!important
  padding-bottom 0
a:link, a:visited, a:active 
  color #eee
  text-decoration none
a:hover 
  color #FF9933!important
  text-decoration underline
  -o-transition .2s
  -ms-transition .2s
  -moz-transition .2s
  -webkit-transition .2s
  transition .2s
button
  width 50px
  height 30px
  margin 10px
  color #eee
  background-color green
  border none
/*
  Navigation
*/
.nav
  display grid
  grid-template-columns 150px auto 150px
  grid-template-rows 50px
  color #fff
  text-decoration none
  li 
    float left
    list-style-type none
  width 100%
  height 50px
  position relative
  background #212121
  line-height normal
  text-align center
  a:link 
    list-style none
    color #fff
    text-decoration none
  a:hover 
    color #FF9933!important
    text-decoration underline
    -o-transition .2s
    -ms-transition .2s
    -moz-transition .2s
    -webkit-transition .2s
    transition .2s  
.nav-list
  display none
  @media only screen and (min-width: 600px)
    display block
    grid-column-start 3
    grid-column-end 3
    grid-row-start 1
    grid-row-end 1
    justify-self right
    align-self center
.nav-item
  padding-right 10px
  li
    width auto  
  //display none
.logo
  grid-column-start 2
  grid-column-end 2
  grid-row-start 1
  grid-row-end 1
  width 50px
  justify-self center
  align-self center
  
/*
  Site Layout
*/
.content
  display grid
  grid-template-columns 20px auto 20px
  grid-template-rows auto auto 40px
  width 100%
  padding 0 5%

.home
  grid-column-start 2
  grid-column-end 2
  grid-row-start 1
  grid-row-end 1
  justify-self center
  align-self center
  
/*
  Blog · Post Viewer
*/

/*
  Blog · Post Editor
*/
.post-editor
  width 100%
  grid-column-start 2
  grid-column-end 2
  grid-row-start 1
  grid-row-end 1
  justify-self center
  align-self center
.post-title-field
  padding 10px
  input
    color #c8c1a9
    background-color #212121
    border 0
    width 100%
    height 24px
    font-size 24px
    text-align center
    ::placeholder
      text-align center
      opacity 1
      font-size 24px
.post-content-field
  padding 10px
  textarea
    color #c8c1a9
    background-color #212121
    border 1px solid #2e2e2e
    height 30em
    width 100%
    font-size 16px
    ::placeholder
      text-align center
      opacity 1

/*
  About
*/
.about
  grid-column-start 2
  grid-column-end 2
  grid-row-start 2
  grid-row-end 2
  align-self center
  justify-self center
  h1
    text-align center
  

.avatar
  padding 24px
  grid-column-start 2
  grid-column-end 2
  grid-row-start 1
  grid-row-end 1
  justify-self center
  align-self center
  img
    display inline-block
    border-radius 250px 0 250px 250px
    border 0px solid white
    max-height 250px
    margin 0 auto
    -webkit-filter grayscale(70%)
    filter grayscale(70%)
    -o-transition .5s
    -ms-transition .5s
    -moz-transition .5s
    -webkit-transition .5s
    transition .5s
  img:hover
    -webkit-filter grayscale(0%)
    filter grayscale(0%)
    -o-transition .5s
    -ms-transition .5s
    -moz-transition .5s
    -webkit-transition .5s
    transition .5s

/*
  Footer
*/
footer
  display grid
  grid-template-columns 100px auto 100px
  grid-template-rows 50px
  width 100%
  padding-top 10px
  padding-bottom 10px
  color #999999
  //background-color #292F33
  text-align center
  float left
  a:link,a:active, a:hover, a:visited
    color #999999
.footer-misc
  grid-column-start 2
  grid-column-end 2
  grid-row-start 1
  grid-row-end 1
  justify-self center
  align-self center  