/*
  Global
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro");
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  color: #eee;
  background-color: #212121;
  min-width: 250px;
}
body {
  line-height: 1em;
  font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
}
::selection {
  background: #f93;
}
::-moz-selection {
  background: #f93;
}
::-webkit-input-placeholder {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1em !important;
  padding-bottom: 0;
}
a:link,
a:visited,
a:active {
  color: #eee;
  text-decoration: none;
}
a:hover {
  color: #f93 !important;
  text-decoration: underline;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/*
  Navigation
*/
.nav {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: 50px;
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 50px;
  position: relative;
  background: #212121;
  line-height: normal;
  text-align: center;
}
.nav li {
  float: left;
  list-style-type: none;
}
.nav a:link {
  list-style: none;
  color: #fff;
  text-decoration: none;
}
.nav a:hover {
  color: #f93 !important;
  text-decoration: underline;
  -o-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.nav-list {
  display: none;
}
@media only screen and (min-width: 600px) {
  .nav-list {
    display: block;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: right;
    align-self: center;
  }
}
.nav-item {
  padding-right: 10px;
}
.nav-item li {
  width: auto;
}
.logo {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  width: 50px;
  justify-self: center;
  align-self: center;
}
/*
  Site Layout
*/
.content {
  width: 100%;
  padding: 0 5%;
}
/*
  About
*/
.avatar img {
  display: block;
  border-radius: 250px 0 250px 250px;
  margin: 0 auto;
  padding: 24px;
  max-height: 350px;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
}
/*
  Footer
*/
footer {
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: 50px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #999;
  text-align: center;
  float: left;
}
footer a:link,
footer a:active,
footer a:hover,
footer a:visited {
  color: #999;
}
.footer-home {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: left;
  align-self: center;
}
.footer-date {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  justify-self: center;
  align-self: center;
}
