
:root
  --bg #1B1819
  --color-1 rgba(0,0,0,0.4)
  --color-2 #EEE
  --color-3 #212121
  --color-4 #FFC705
  --color-5 #FF9933
  --grey #5D5D5D
  --soften 5px

/*
  Global
*/

*
  box-sizing border-box
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
*:focus
  outline none
html
  color var(--color-2)
  background-color var(--bg)
  min-width 250px
  height 100%
body
  line-height 140%
  font-size 1em
  font-family 'SpaceGrotesk', Helvetica, sans-serif
  margin 0
  padding 0
  position relative
  min-height 100%

::selection
  background var(--color-5)
::-moz-selection
  background var(--color-5)

::-webkit-input-placeholder
  text-align center
h1, h2, h3, h4, h5, h6
  font-family BattalionMono
  line-height 1em
  padding-bottom 0
h1.responsive-text
  font-size 5vh
a:link, a:visited, a:active
  color var(--color-2)
  text-decoration none
a:hover
  color var(--color-4)
  transition .2s
// Outbound Links
a.outbound
  padding 0 10px 0 10px
  background-color var(--color-1)
button
  width 50px
  height 30px
  color var(--color-2)
  background-color green
  border none
/*
  Pedantic styling
*/
.under-title
  margin-top -18px
  font-size 85%
  color var(--grey)
ul.no-indent
  margin-left -40px
li.no-style
  list-style-type none
/*
  Login
*/
.login-content
  grid-column-start 2
  grid-column-end 2
  grid-row-start 1
  grid-row-end 1
  width 50%
  padding-bottom 15px
  margin 0 auto
  text-align center
.login-field
  padding 10px 0 0 0
.login-field input
  height 25px
  margin 0 auto
  background-color black
  border var(--color-2) solid 1px
  border-radius 0
.login-actions
  height 25px
  padding 10px
.login-actions input
  height 25px
  margin 0 auto
  text-align center

/*
  Navigation
*/
.nav
  display grid
  grid-template-columns 80px auto 80px
  grid-template-rows 75px
  color var(--color-2)
  text-decoration none
  li
    float left
  width 100%
  height 75px
  position relative
  background rgba(0,0,0,0.2)
  line-height normal
  text-align center
  @media only screen and (min-width: 600px)
    grid-template-columns 280px auto 280px
    grid-template-rows 75px
.nav-list
  display block
  grid-column 3
  grid-row 1
  justify-self right
  align-self center
  list-style-type none
  padding 0
  li
    float left
.nav-item
  padding-right 10px

.logo
  grid-column 2
  grid-row 1
  width 75px
  justify-self center
  align-self center

.nav form
  justify-self left
  align-self center

.search
  width 70px
  height 30px
  margin-left 10px
  border none
  background #EEE
  color #212121
  border-radius 5px
  text-indent 5px
  transition 0.2s
.search:focus
  width 115px
  transition 0.5s
.search::placeholder
  text-align left
  color black

/*
  Site Layout
*/
.grid
  display grid
  grid-template-columns 20px auto 20px
  grid-template-rows auto auto 40px
  width 100%
  padding 0 15vw
  padding-bottom 60px
  @media only screen and (min-width:200px) and (max-width: 800px)
    grid-template-columns 2px auto 2px
    grid-template-rows auto auto 40px
    padding 0 5%
    padding-bottom 40px

.content
  width 85%
  grid-column 2
  grid-row 1
  justify-self center
  align-self center
  @media only screen and (min-width:200px) and (max-width: 800px)
    width 100%
  ul
    list-style-type none
    margin 0
    padding 3px

/*
  Wiki
*/
.wiki-index-grid
  display grid!important
  //grid-template-columns 50% 50%
  grid-template-rows auto
  margin 5px 5px 0 0
  display inline-block
  top 0

.wiki-index-projects
  grid-column-start 1
  grid-column-end 2
  grid-row-start 1
  grid-row-end 1
  justify-self center

.wiki-index-grid ul
  list-style-type none
  padding 2px

.wiki-latest-project
  border-bottom 2px solid #EEE

.wiki-header
  img
    width 20vw
    display block
    margin 0 auto
    @media only screen and (max-width:600px)
      width 50vw
ul.catagories
  display flex
  flex-wrap wrap
  //max-width 65vw
  padding 0
  //margin 0 -10px
  justify-content space-evenly
  list-style-type none
  text-align center
  @media only screen and (max-width:600px)
    max-width 600px
li.wiki-item
  width 150px
  margin 0 10px
  margin-bottom 10px
  a
  display block
  padding 5px
  img
    display block
    width 100px
    margin 20px 20px
    float left
span.wiki-label
  display block
span.wiki-desc
  display block
  font-size 85%

// Project Status
.wiki-project-status
  display grid
  grid-template-columns 5px auto 5px
  grid-template-rows 25px
  width 40vw
  max-width 650px
  min-width 282px
  margin 0 0 0 auto
  height 25px
  color #212121
  background-color #F9F9F0
  font-size 90%
  a.outbound
    padding 0 10px 0 10px
    background-color rgba(0,0,0,0.9)
  @media only screen and (min-width: 600px) and (max-width: 922px)
    width 50vw
  @media only screen and (max-width: 620px)
    width 100%
    font-size 90%
  @media only screen and (min-width: 320px) and (max-width: 500px)
    width 100%
    font-size 70%
ul.w-p-s-list
  grid-column 2
  display flex
  flex-wrap wrap
  align-self center
  justify-content space-evenly
  list-style-type none
  margin 0
  padding 0
li.w-p-s-item
  width 33%
  line-height 150%
  margin 0
  text-align center


/*
  Blog · Post Viewer
*/

/*
  Blog · Post Editor
*/
.post-editor
  width 100%
  grid-column-start 2
  grid-column-end 2
  grid-row-start 1
  grid-row-end 1
  justify-self center
  align-self center
.post-title-field
  padding 10px
  input
    color #C8C1A9
    background-color #212121
    border 0
    width 100%
    height 3em
    font-size 22px
    text-align center
    ::placeholder
      text-align center
      opacity 1
      font-size 24px
.post-content-field
  padding 10px
  textarea
    color #C8C1A9
    background-color #212121
    //border 1px solid #2e2e2e
    border 0
    height 30em
    width 100%
    font-size 16px
    ::placeholder
      text-align center
      opacity 1

/*
  About
*/
.about
  grid-column 2
  grid-row 2
  align-self center
  justify-self center
  h1
    text-align center
.social
  width 100%
  border-radius 5px
  padding 5px 10px
.half
  width 50%
  margin 5px
.avatar
  padding 24px
  grid-column 2
  grid-row 1
  justify-self center
  align-self center
  img
    display inline-block
    border-radius 230px 48px 230px 48px
    border 0px solid white
    width 25vw
    margin 0 auto
    -webkit-filter grayscale(70%)
    filter grayscale(70%)
    transition .2s
  img:hover
    border-radius 48px 230px 48px 230px
    transition .2s
  @media only screen and (max-width: 1000px)
    img
      width 50vw
  @media only screen and (max-width: 600px)
    img
      width 70vw
/*
  Footer
*/
footer
  display grid
  grid-template-columns 100px auto 100px
  grid-template-rows 50px
  width 100%
  height 50px
  position absolute
  bottom 0
  right 0
  background-color #1D1D1D
  color #999999
  text-align center
  font-size 0.8em
  float left
  a:link, a:active, a:hover, a:visited
    color #999999

  a.icon
    width 25px
    height 25px
    margin-right 5px
    filter invert(1)
    background-size cover
    background-position center center
    display inline-block
    float right
  a.icon:hover
    filter invert(72%) sepia(71%) saturate(752%) hue-rotate(353deg) brightness(103%) contrast(103%)
  /* Link icons */
  a.icon.merveilles
    background-image url(/images/icons/merveilles.svg)
    background-size 35px
  a.icon.webring
    background-image url(/images/icons/webring.svg)

.footer-licence
  grid-column-start 1
  grid-column-end 1
  grid-row-start 1
  grid-row-end 1
  justify-self left
  align-self center
  padding-left 10px
.footer-date
  grid-column-start 2
  grid-column-end 2
  grid-row-start 1
  grid-row-end 1
  justify-self center
  align-self center
.footer-links
  grid-column-start 3
  grid-column-end 3
  grid-row-start 1
  grid-row-end 1
  justify-self right
  align-self center
  padding-right 10px

/*
  Fonts
*/
@font-face
  font-family BattalionMono
  src url(/fonts/battalion/BattalionMono-Regular.woff) format('woff'),
      url(/fonts/battalion/BattalionMono-Regular.woff2) format('woff2'),
      url(/fonts/battalion/BattalionMono-Regular.eot) format('eot')

@font-face
  font-family SpaceGrotesk
  src url(/fonts/spacegrotesk/SpaceGrotesk-Regular.woff) format('woff'),
      url(/fonts/spacegrotesk/SpaceGrotesk-Regular.woff) format('woff2')

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon/icomoon.eot?o41ald');
  src:  url('/fonts/icomoon/icomoon.eot?o41ald#iefix') format('embedded-opentype'),
    url('/fonts/icomoon/icomoon.ttf?o41ald') format('truetype'),
    url('/fonts/icomoon/icomoon.woff?o41ald') format('woff'),
    url('/fonts/icomoon/icomoon.svg?o41ald#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevrons-up:before {
  content: "\e901";
}
.icon-chevrons-right:before {
  content: "\e902";
}
.icon-chevrons-left:before {
  content: "\e903";
}
.icon-chevrons-down:before {
  content: "\e904";
}
.icon-book:before {
  content: "\e905";
}
.icon-tablet:before {
  content: "\e906";
}
.icon-headphones:before {
  content: "\e900";
}