mixin nav
  nav(class='nav')
    form(method='GET')
      input.search(type='text', placeholder='Search' name='wiki')
    a.logo(href='/')
      img.logo(src="data:image/svg+xml;charset=UTF-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHN0eWxlPSJ3aWR0aDozMDBweDtoZWlnaHQ6MzAwcHgiIHdpZHRoPSIzMDBweCIgaGVpZ2h0PSIzMDBweCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjEwIiBiYXNlUHJvZmlsZT0iZnVsbCIgY2xhc3M9InZlY3RvciI+PHBhdGggc3Ryb2tlPSIjZmZmIiBkPSJNNjAgNjBoMTgwdjE4MEg2MFY2MG05MCAzMEw5MCAyMTBoMTIwTDE1MCA5MG0tNjAgNjBoMTIwTTc1IDEyMGExNSAzMCAwIDAgMSAxNSAzMCAxNSAzMCAwIDAgMS0xNSAzMCIvPjxwYXRoIHN0cm9rZT0iI2ZmZiIgZD0iTTI0MCAyNDBINjBWNjBoMTgwdjE4MG0tOTAtMzBsNjAtMTIwSDkwbDYwIDEyMG02MC02MEg5MG0xMzUgMzBhMTUgMzAgMCAwIDEtMTUtMzAgMTUgMzAgMCAwIDEgMTUtMzAiLz48L3N2Zz4=")
    ul.nav-list
      li.nav-item
        a(href='/wiki')
          span Wiki
      li.nav-item
        a(href='/self')
          span Self
