mixin nav
  nav(class='nav')
    form(method='GET')
      input.search(type='text', placeholder='Search' name='wiki')
    a.logo(href='/')
      img.logo(src='/images/logo.svg')
    ul.nav-list
      li.nav-item
        a(href='/wiki')
          span Wiki
      li.nav-item
        a(href='/about')
          span About
      li.nav-item
        a(href='http://webring.xxiivv.com/' title='Webring')
         img.webring(src='/images/icons/webring.svg' alt='Webring')
