extends ../templates/layout

block content
  .content
    .wiki-header
      img(src='')
    h1 Goals
    .under-title
      span Optimism is the best-ism
    <hr>
    h2 2019
    h3 For the Year
    ul
      li Move out on my own
      li Finish thirty books
      li Reduce the amount of times I eat meat in a week to three
      li Complete eight projects to a satisfactory level
      li Learn to Sail
    h3 Monthly
    ul
      li Go out and take photos in a new location
      li Write a summary in my Journal
    h3 Weekly
    ul
      li Hit my Exercise goal at least 4 times
      li Work on a project
