extends ../templates/layout

block content
  .content
    div.wiki-header
      img(src='/images/icons/wiki/humes.svg')
    div.wiki-project-status
      ul.w-p-s-list
        li.w-p-s-item
          span VER&nbsp;&bullet;&nbsp; 
          span 0.0.5
        li.w-p-s-item
          span SRC&nbsp;&bullet;&nbsp;
            a(href='https://github.com/drisc/humes' class='outbound')
              span GIT
        li.w-p-s-item
          span STATUS&nbsp;&bullet;&nbsp; 
          span InDev
    div
      h1 Humes
      .under-title
        span Environmental Sensors &amp; Controls
      span Humes is a set of programs and hardware designed to run as a distributed environment monitor and control system.
    div
      h2 Computation Nodes
      p A Raspberry Pi Zero W which acts as a hub for the sensors in the area, running a program which saves data to an <a class='outbound' href='https://ipfs.io'>IPFS</a> drive. This can be accessed from any node. The <a href='#OES'>OES</a> data is uploaded to WeatherUnderground to help inform conditions for people in the area.
      p Each node can run via a standard WiFi network or run in Distributed Mesh Mode using only one Node to upload data to the Internet. The Mesh will accept commands from physical switches on the Node itself or via remote switches connected to the DMM. The control API will be exposed so creating desktop or web apps to automate tasks will also be possible.
      h4 Distributed Mesh Mode
      p A protocol which allows devices running the same software to communicate with each other without the need for a central routing device. Devices can be chained to pass data down to the nearest computation node where it will be added to the <a class='outbound' href='https://ipfs.io'>IPFS</a> drive and distributed to the other Computation Nodes.
      p Example:&nbsp;OES&nbsp;--&gt;&nbsp;IES&nbsp;--&gt;&nbsp;Computation Node
    div
      h2 Shards
      h3(style='color: #FD2') Testing
      h3(id='OES') Outdoor Environment Sensor
      p A small circuit board holding an ESP8266 with a DHT22, TLS2165, BMP180 and a raindrop sensor.&nbsp; All components housed in a small enclosure and placed outside, using a solar panel and on-board battery for power.
      h3 Indoor Environment Sensor
      p A smaller version of the OES without the light, pressure or rain sensors which measures room temp and includes an air particulate and smoke sensor.

      h3(style='color: #DD5634') Planned
      h3 Power Switches
      p Small relay switches which can be controlled with either <a class='outbound' href='https://en.wikipedia.org/wiki/Power-line_communication'>PLC</a> or DMM. These can be added to existing devices such as lamps and fans or used as the base for building an entirely new piece of controllable equipment.
