extends ../templates/layout

block content
  .content
    h1 Reading List
    .under-title
      span To Future Me: Read more Non-Fiction
    <hr>
    h2 Currently Reading
    ul
      li <i class="fa fa-tablet fa-fw" aria-hidden="true"></i> Zen &amp; The Art of Motorcycle Repair - Robert M. Pirsig
      li <i class="fa fa-tablet fa-fw" aria-hidden="true"></i> A Wizard of Earthsea - Ursula K. Le Guin
      li <i class="fa fa-book fa-fw" aria-hidden="true"></i> Rotherweird - Andrew Caldecott
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> Nine Fox Gambit - Yoon Ha Lee
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> The Dark Tower VII: The Dark Tower - Stephen King
    <hr>
    h2 To Read
    h3 Non-Fiction
    ul
      li <i class="fa fa-tablet fa-fw" aria-hidden="true"></i> Superintelligence - Nick Bostrum
      li <i class="fa fa-tablet fa-fw" aria-hidden="true"></i> The Richest Man in Babylon - George S. Clason
      li <i class="fa fa-tablet fa-fw" aria-hidden="true"></i> Godforsaken Sea - Derek Lundy
    h3 Fiction - Sci-Fi
    ul
      li <i class="fa fa-tablet fa-fw" aria-hidden="true"></i> Citidel 32: A Tale of the Aggrigate - Tom Merrit
      li <i class="fa fa-tablet fa-fw" aria-hidden="true"></i> Field One - Simon Winstanley
    h3 Fiction - Fantasy
    ul
      li <i class="fa fa-tablet fa-fw" aria-hidden="true"></i> Norse Mythology - Neil Gaiman
      li <i class="fa fa-book fa-fw" aria-hidden="true"></i> Mana Pool - L.J. McLean
    h3 Graphic Novels
    ul
      li <i class="fa fa-tablet fa-fw" aria-hidden="true"></i> SAGA -  <i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Brian K Vaughan , <i class="fa fa-paint-brush fa-fw" aria-hidden="true"></i> Fiona Staples
      li <i class="fa fa-tablet fa-fw" aria-hidden="true"></i> Giant Days - <i class="fa fa-pencil fa-fw" aria-hidden="true"></i> John Allison , <i class="fa fa-paint-brush fa-fw" aria-hidden="true"></i> Lissa Treiman 
      li <i class="fa fa-tablet fa-fw" aria-hidden="true"></i> Paper Girls - <i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Brian K. Vaughan , <i class="fa fa-paint-brush fa-fw" aria-hidden="true"></i> Cliff Chiang 
      li <i class="fa fa-tablet fa-fw" aria-hidden="true"></i> ApocalyptiGirl: An Aria for the End Times - Andrew MacLean
    hr
    h2 Read in 2018
    h4 Fiction - Sci-Fi
    ul
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> Destiny of Dragons - Jack Campbell
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> Infinate - Jeremy Robinson
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> The Singularity Trap - Dennis E. Taylor
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> Out of Spite, Out of Mind - Scott Meyer
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> Sea of Rust - C. Robert Cargill
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> Super Powereds: Year 4 - Drew Hayes
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> Neauromancer - William Gibson
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> Forever Fanatasy Online - Rachel Aaron
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> Awaken Online: Evolution - Travis Bagwell
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> Salvation - Peter F. Hamilton
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> The Second Ship - Richard Phillips
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> Record of a Spaceborn Few - Becky Chambers
    h4 Fiction - Fantasy
    ul
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> Dungeon Calamity - Dakota Krout
      li <i class="fa fa-book fa-fw" aria-hidden="true"></i> RWBY - Miwa Shirow
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> Forging Divinity - Andrew Rowe
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> Stealing Sorcery - Andrew Rowe
    h4 Fiction - General
    ul
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> A Man called Ove - Fredrik Backman
      li <i class="fa fa-headphones fa-fw" aria-hidden="true"></i> After It Happened 5 + 6 - Devon C. Ford
    h4 Graphic Novels
    ul
      li <i class="fa fa-tablet fa-fw" aria-hidden="true"></i> Low: Vol. 1 - <i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Rick Remender, <i class="fa fa-paint-brush fa-fw" aria-hidden="true"></i> Greg Tocchini
