extends ../templates/layout

block content
  .content
    .wiki-header
      img(src='/images/icons/wiki/book.svg')
    h1 Reading List
    .under-title
      span To Future Me: Read more Non-Fiction
    <hr>
    h2 Currently Reading
    ul
      li <span class='icon-tablet'></span> Zen &amp; The Art of Motorcycle Repair - Robert M. Pirsig
      li <span class='icon-book'></span> Is That Bike Diesel, Mate? - Paul Carter
      li <span class='icon-headphones'></span> Snow Crash - Neal Stephenson
    <hr>
    h2 To Read
    h3 Non-Fiction
    ul
      li <span class='icon-tablet'></span> Superintelligence - Nick Bostrum
      li <span class='icon-tablet'></span> Godforsaken Sea - Derek Lundy
    h3 Fiction - Sci-Fi
    ul
      li <span class='icon-tablet'></span> Field One - Simon Winstanley
    h3 Fiction - Fantasy
    ul
      li <span class='icon-tablet'></span> Norse Mythology - Neil Gaiman
      li <span class='icon-book'></span> Mana Pool - L.J. McLean
      li <span class='icon-book'></span> Rotherweird - Andrew Caldecott
    h3 Graphic Novels
    ul
      li <span class='icon-tablet'></span> SAGA -   Brian K Vaughan , Fiona Staples
      li <span class='icon-tablet'></span> Giant Days -  John Allison, Lissa Treiman
      li <span class='icon-tablet'></span> Paper Girls -  Brian K. Vaughan, Cliff Chiang
    hr
    h2 Read in 2019
    h3 Goal >> 9/30
    h4 Fiction - Sci-Fi
    ul
      li <span class='icon-headphones'></span> Nine Fox Gambit - Yoon Ha Lee
      li <span class='icon-headphones'></span> Rendezvous with Rama - Arthur C. Clarke
      li <span class='icon-tablet'></span> Citidel 32: A Tale of the Aggrigate - Tom Merrit
    h4 Fiction - Fantasy
    ul
      li <span class='icon-tablet'></span> A Wizard of Earthsea - Ursula K. Le Guin
      li <span class='icon-headphones'></span> On the Shoulders of Titans - Andrew Rowe
      li <span class='icon-headphones'></span> The Dark Tower VII: The Dark Tower - Stephen King
      li <span class='icon-headphones'></span> How to Stop Time - Matt Haig
    h4 Graphic Novels
    ul
      li <span class='icon-book'></span> ApocalyptiGirl: An Aria for the End Times - Andrew MacLean
      li <span class='icon-book'></span> Homunculus - Joe Sparrow
    h2 Read in 2018
    h4 Fiction - Sci-Fi
    ul
      li <span class='icon-headphones'></span> Destiny of Dragons - Jack Campbell
      li <span class='icon-headphones'></span> Infinate - Jeremy Robinson
      li <span class='icon-headphones'></span> The Singularity Trap - Dennis E. Taylor
      li <span class='icon-headphones'></span> Out of Spite, Out of Mind - Scott Meyer
      li <span class='icon-headphones'></span> Sea of Rust - C. Robert Cargill
      li <span class='icon-headphones'></span> Super Powereds: Year 4 - Drew Hayes
      li <span class='icon-headphones'></span> Neauromancer - William Gibson
      li <span class='icon-headphones'></span> Forever Fanatasy Online - Rachel Aaron
      li <span class='icon-headphones'></span> Awaken Online: Evolution - Travis Bagwell
      li <span class='icon-headphones'></span> Salvation - Peter F. Hamilton
      li <span class='icon-headphones'></span> The Second Ship - Richard Phillips
      li <span class='icon-headphones'></span> Record of a Spaceborn Few - Becky Chambers
    h4 Fiction - Fantasy
    ul
      li <span class='icon-headphones'></span> Dungeon Calamity - Dakota Krout
      li <span class='icon-book'></span> RWBY - Miwa Shirow
      li <span class='icon-headphones'></span> Forging Divinity - Andrew Rowe
      li <span class='icon-headphones'></span> Stealing Sorcery - Andrew Rowe
    h4 Fiction - General
    ul
      li <span class='icon-headphones'></span> A Man called Ove - Fredrik Backman
      li <span class='icon-headphones'></span> After It Happened 5 + 6 - Devon C. Ford
    h4 Graphic Novels
    ul
      li <span class='icon-tablet'></span> Low: Vol. 1 -  Rick Remender, Greg Tocchini
