extends ../templates/layout

block content
  .content
    .wiki-header
      img(src='')
    .wiki-project-status
      ul.w-p-s-list
        li.w-p-s-item
          span VER&nbsp;&bullet;&nbsp; 
          span 0.0.1
        li.w-p-s-item
          span STATUS&nbsp;&bullet;&nbsp; 
          span Research
    div
      h1 Paviderm
      .under-title
        span Terminal Mastodon Client
      p Paviderm is an idea I've had floating around in my head for a while now. A small light CLI Mastodon client, capable of displaying links to photos and rendering the alt-text that is included with pictures for accessability, have a seperate column for favs/boost/replies and be nice to look at.

      p I'm hoping to use it as my first big project in Rust.