extends ../templates/layout

block content
  .content
    h1 Photograpy
    .under-title
      span Still image preservation
    hr
    h2 Gear
    h4 Camera
    ul
      li Canon 700D
    h4 Lenses
    ul
      li 50mm Prime
      li 18mm-55mm
      li 55mm-250mm
    h4 Misc
    ul
      li Amazon Basics Tripod
      li Neewer Sliding Rail
      li HOYA UV(c) Lens Filters
      li Camera Strap