extends ../templates/layout

block content
  .content
    .wiki-header
      img(src='')
    .wiki-project-status
      ul.w-p-s-list
        li.w-p-s-item
          span VER&nbsp;&bullet;&nbsp;
          span 0.2.0
        li.w-p-s-item
          a(href='https://github.com/drisc/procul' class='outbound')
            span GIT
        li.w-p-s-item
          span STATUS&nbsp;&bullet;&nbsp;
          span InDev
    div
      h1 Procul
      .under-title
        span Terminal Mastodon Client
      p Procul is an idea I've had floating around in my head for a while now. A small light CLI Mastodon client, capable of displaying links to photos and rendering the alt-text that is included with pictures for accessability, have a seperate column for favs/boost/replies and be nice to look at.

    hr
    div
      h2 Current State
      p Program is able to post to the timeline both publicly and unlisted. Fetching the timeline will return the first 20 statuses on the home timeline.
      p Next step is to impletment the TUI and open threads in a view, with reply, fav and boost support.
