extends ../templates/layout

block content
  .content
    div.wiki-header
      img(src='/images/icons/wiki/retejo.svg')
    div
      ul
        li
          h1 <a href='/wiki/systems/cal'>Calendar</a>
          h4.under-title No cool name yet