extends ../templates/layout

block content
  .content
    div.wiki-header
      img(src='/images/icons/wiki/vervatem.svg')
    //TODO: Make the status bar a mixin and pull data for projects from Arkivo
    div.wiki-project-status
      ul.w-p-s-list
        li.w-p-s-item
          span V&nbsp;&bullet;&nbsp; 
          span 0.0.0
    div
      h1 Vervatem
      span Vervatem will be an attempt to create a fully terminal based chat client which communicates over the DAT Protocol.
    div
      h2 Project Status
      p Research
    div
      h2 Name
      p A play on the word 'Verbatim'.
    div
      h2 Purpose
      p Communicate over the DAT Protocol via a unix shell.
    div
      h2 Concept
      p blessed.js based interface which allows a peer-to-peer IRC-like chat room over DAT.
